<<<<<<< HEAD
.login {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
body{
    width: 30%;
    position: fixed;
    top: 20%;
    left: 35%;
=======
.login {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
body{
    width: 30%;
    position: fixed;
    top: 20%;
    left: 35%;
>>>>>>> afd24e9 (Sameer)
}